In [ ]:
import sqlite3

# a) Connect to SQLite database and create the 'products' table
def create_table():
    conn = sqlite3.connect('store.db')
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS products (
        product_id INTEGER PRIMARY KEY,
        product_name TEXT,
        price REAL,
        quantity INTEGER
    )''')
    conn.commit() # Indented to be within the function's scope
    conn.close() # Indented to be within the function's scope
print("Table created successfully.")

Table created successfully.

In [ ]:
# b) Insert product data into the table
def insert_product(product_name, price, quantity):
    conn = sqlite3.connect('store.db')
    cursor = conn.cursor()
    cursor.execute("INSERT INTO products (product_name, price, quantity) VALUES (?, ?, ?)",
                   (product_name, price, quantity))
    conn.commit()
    conn.close()
print("Product inserted successfully.")

Product inserted successfully.

In [ ]:
# c) Add a description column to the table
def add_description_column():
    conn = sqlite3.connect('store.db')
    cursor = conn.cursor()
    try:
        cursor.execute("ALTER TABLE products ADD COLUMN description TEXT")
        conn.commit()
        print("Description column added.")
    except sqlite3.OperationalError:
        print("Description column already exists.")
    conn.close()

In [ ]:
# d) Count the number of products
def count_products():
    conn = sqlite3.connect('store.db')
    cursor = conn.cursor()
    cursor.execute("SELECT COUNT(*) FROM products")
    count = cursor.fetchone()[0]
    conn.close()
    print("Total products:", count)

In [ ]:
# e) Retrieve products with price greater than 500
def retrieve_expensive_products():
    conn = sqlite3.connect('store.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM products WHERE price > 500")
    rows = cursor.fetchall()
    conn.close()
    print("Expensive products:", rows)

# Execute the functions
create_table()
insert_product("Laptop", 800.50, 10)
add_description_column()
count_products()
retrieve_expensive_products()

Product inserted successfully.
Description column already exists.
Total products: 2
Expensive products: [(1, 'Laptop', 800.5, 10, None), (2, 'Laptop', 800.5, 10, None)]